@use '../../components/base/variaveis';
@import '../../components/botao/Botao.module.scss';
.login{
    text-align: center;
    margin: 5rem 0;
    padding: 50px 0 ;
    // border: 1px solid red;
    .boasVindas{
        color: variaveis.$azul;
    }
    .formulario{
        margin: 50px 0;
        .botao{
            margin: 20px 0;
        }
    }

    background: url('../../assets/img/Forma2Left.svg') no-repeat;
    background-size: auto;
    background-position: left bottom;
    @media (min-width: variaveis.$tablet){
        background: url('../../assets/img/Forma2.svg') no-repeat;
        background-position: right bottom;
        margin-top: 10rem;
        background-size: 98px;
    }
}

.patas{
    position: relative;
    top: 0;
    right: 0;
    img{
        position: absolute;
        top: -73px;
        right: 0;
        z-index: 2;
        width: 140px;
        @media (min-width: variaveis.$tablet){
            top: -100px;
            width: 200px;
        }
    }
}